{% extends "layout.html" %}

{% block title %}
    Hello
{% endblock %}

{% block main %}
    <!DOCTYPE html>
    <html>
    <body>
    
      <div id="main">
      <h1 style="color:red">Welcome to Your Blog</h1>
      <h2 style="color:orange">This blog is designed to keep track of your hobbies</h2>
      <h3 style="color:gold">What Can You Blog About:</h3>
    
      <p style="color:green">Books you read</p>
      <p style="color:blue">Movies you watched</p>
      <p style="color:purple">Books you wanna read</p>
      <p style="color:violet">Movies you wanna watch</p>
      </div>
    
    </body>
    </html>
{% endblock %}
